includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    reportUnmatchedIgnoredErrors: false
    paths:
        - src
        - tests
    level: 8
    ignoreErrors:
        # This is a global alias that cannot be detected by Larastan.
        - '#Call to static method loadHTML\(\) on an unknown class PDF\.#'
        - '#Call to static method loadHTML\(\) on an unknown class Pdf\.#'
